$cream:         #f8eacf;
$creamDark:     #c0ae8b;
$tan:           #e0bb80;
$tanDark:       #917141;
$brownLight:    #674a3e;
$brown:         #472f15;
$brownDark:     #27150f;
$russet:        #904d21;
